<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product add</title>
</head>
     <body>
         <form action="/product/add" method="POST">
             <label for="lastName">Last Name:</label>
             <input type="text" id="lastName" name="lastName"><br>
             <label for="firstName">First Name:</label>
             <input type="text" id="firstName" name="FirstName"><br>
             <label for="email">E-mail:</label>
             <input type="text" id="email" name="email"><br>

             <label for="price">Price:</label>
             <input type="number" id="price" name="price"><br>
             <label for = "manufactures">Select manufacture</label>
             <select id="manufactures" name="manufactureName">
                 <option th:each="manufacture : ${manufactures}" th:value="${manufacture.name}" th:text="${manufacture.name}"></option>
             </select>
             <button type="submit">Add</button>
         </form>
     </body>
</html>